/* COLORS */
$color-primary-1: #00E3CC;
$color-primary-2: #32A89C;
$color-secondary-1: #44E3D3;
$color-secondary-2: #009688;
$color-error: #c2240c;
$color-info: #1478c7;
$color-divider: #00635A;

/* FONT-Colors */
$color-text-primary: #f3f3f3;
$color-text-secondary: #c7c7c7;
$color-text-disabled: #5c5c5c;
$color-text-black: #000000;

/* FONTS */
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

:export {
    primaryColor: $color-primary-1;
    primaryColor2: $color-primary-2;
    secondaryColor: $color-secondary-1;
    secondaryColor2: $color-secondary-2;
    errorColor: $color-error;
    infoColor: $color-info;
    dividerColor: $color-divider;
    primaryTextColor: $color-text-primary;
    secondaryTextColor: $color-text-secondary;
    disabledTextColor: $color-text-disabled;
    blackTextColor: $color-text-black;
    fontFamily: $font-family;
}
